div ul {
    display: flex;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    background-color:cornflowerblue;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0rem 10rem;
}

div ul li {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    color:antiquewhite;
}

div ul li:hover {
    background-color:rgb(140, 173, 234);
    border-radius: 4rem;
}